<%= form_with(model: blockchain) do |form| %>
  <% if blockchain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blockchain.errors.count, "error") %> prohibited this blockchain from being saved:</h2>

      <ul>
        <% blockchain.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :raw_content %>
    <%= form.text_field :raw_content %>
  </div>

  <div class="field">
    <%= form.label :sender %>
    <%= form.text_field :sender %>
  </div>

  <div class="field">
    <%= form.label :receiver %>
    <%= form.text_field :receiver %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :deposit %>
    <%= form.text_field :deposit %>
  </div>

  <div class="field">
    <%= form.label :gas_burnt %>
    <%= form.text_field :gas_burnt %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
